{% extends "main_site/base.html" %}

{% block site_title %}Создание{% endblock %}

{% block page_title %}Создание нового задания{% endblock %}

{% block content %}
    <div class="container mt-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active">Создание</li>
            </ol>
        </nav>


        <form action="{% url 'add_confirm' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title-text">Название:</label>
                <input name="title" type="text" class="form-control"
                       id="title-text" placeholder="Введите название">
            </div>

            <div class="form-group">
                <label for="about-text" class="col-form-label">Описание работы:</label>
                <textarea name="about" class="form-control" id="about-text"
                placeholder="Введите описание работы"></textarea>
            </div>

            <div class="form-group">
                <label for="true-text">Ссылка на правильную работу:</label>
                <input name="true_work" type="text" class="form-control" id="true-text"
                placeholder="Введите ссылку">
            </div>

            <div class="form-group">
                <label for="keys-text" class="col-form-label">Ключевые текстовые значения:</label>
                <textarea name="keys" class="form-control" id="keys-text"
                placeholder="Введите ключи через запятую"></textarea>
            </div>

            <label>Выберите .xls файл с ссылками на работы</label>
            <div class="input-group mb-4">
                <div class="custom-file">
                    <input name="file_table" type="file" accept=".xls,.xlsx" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
                </div>
            </div>

            <div class="form-group form-inline">
{#                <label for="table_name">Название таблицы</label>#}
                <input name="table" type="text" id="table_name" class="form-control mx-sm-3"
                    placeholder="Название таблицы">

{#                <label for="names_cell">Ячейка имен</label>#}
                <input name="names" type="text" id="names_cell" class="form-control mx-sm-3"
                    placeholder="Ячейка начала столбца имен">

{#                <label for="links_cell">Ячейка ссылок</label>#}
                <input name="links" type="text" id="links_cell" class="form-control mx-sm-3"
                    placeholder="Ячейка начала столбца ссылок">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
        </form>
    </div>
{% endblock %}