{% extends "main_site/base.html" %}

{% block site_title %}Создание{% endblock %}

{% block page_title %}Создание нового задания{% endblock %}

{% block content %}
    <div class="container mt-3">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active">Создание</li>
            </ol>
        </nav>


        <form action="{% url 'add_confirm' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="title-text">Название:</label>
                <div class="col-sm-9">
                    <input name="title" type="text" class="form-control"
                           id="title-text" placeholder="Введите название">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="about-text">Описание работы:</label>
                <div class="col-sm-9">
                    <textarea name="about" class="form-control" id="about-text"
                          placeholder="Введите описание работы"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="true-text">Ссылка на правильную работу:</label>
                <div class="col-sm-9">
                    <input name="true_work" type="text" class="form-control" id="true-text"
                           placeholder="Введите ссылку">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="keys-text">Ключевые текстовые значения:</label>
                <div class="col-sm-9">
                    <textarea name="keys" class="form-control" id="keys-text"
                              placeholder="Введите ключи через запятую"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="input-file">Выберите .xls файл с ссылками на работы</label>
                <div class="col-sm-9">
                    <div class="input-group mb-4">
                        <div class="custom-file">
                            <input name="file_table" type="file" accept=".xls,.xlsx" class="custom-file-input" id="input-file" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="table_name">Название таблицы</label>
                <div class="col-sm-9">
                    <input name="table" type="text" id="table_name" class="form-control"
                           placeholder="Введите название таблицы (по умолчанию - первая таблица)">
                </div>
            </div>

             <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="row">Начальная строка</label>
                <div class="col-sm-9">
                    <input name="row" type="text" id="row" class="form-control"
                           placeholder="Введите начальную строку (по умолчанию - первая строка)">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="names_column">Столбец</label>
                <div class="col-sm-9">
                    <input name="names" type="text" id="names_column" class="form-control"
                           placeholder="Введите столбец имен (по умолчанию - столбец 'A')">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="links_column">Столбец ссылок</label>
                <div class="col-sm-9">
                    <input name="links" type="text" id="links_column" class="form-control"
                           placeholder="Введите столбец ссылок (по умолчанию - столбец 'B')">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
        </form>
    </div>
{% endblock %}