{% extends "main_site/base.html" %}

{% block site_title %}Добавление работы{% endblock %}

{% block page_title %}Добавление работы{% endblock %}

{% block menu %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Выполненные работы</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Операции:</h6>
                <a class="collapse-item" href="{% url 'homework_add' task_id %}">Добавить</a>
                <a class="collapse-item" href="{% url 'homework_delete' task_id%}">Удалить</a>
            </div>
        </div>
    </li>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active">Список работ</li>
                <li class="breadcrumb-item active">Добавление</li>
            </ol>
        </nav>

        <form action="{% url 'homework_add_confirm' task_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name-text">Имя:</label>
                <input name="name" type="text" class="form-control" id="name-text">
            </div>

            <div class="form-group">
                <label for="link-text">Ссылка:</label>
                <input name="link" type="text" class="form-control" id="link-text">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
        </form>
    </div>
{% endblock %}