{% extends "main_site/actions/homeworks/base_homework.html" %}

{% block site_title %}Удаления работы{% endblock %}

{% block page_title %}Подтвеждение удаления работы{% endblock %}

{% block content %}
    <div class="container mx-auto" style="width: 450px">
        <div class="alert alert-primary">Вы уверены, что хотите удалить работу: <strong>{{ homework.name }}?</strong></div>
        <a class="btn btn-primary btn-block" href="{% url 'homework_delete_confirm' task.pk homework.pk %}">Подтверждаю</a>
        <a class="btn btn-danger btn-block" href="{% url 'delete' %}">Отмена</a>
    </div>
{% endblock %}