{% extends "main_site/actions/homeworks/base_homework.html" %}

{% block site_title %}Работа{% endblock %}

{% block page_title %}Описание работы{% endblock %}

{% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Список работ</li>
            <li class="breadcrumb-item active" aria-current="page">Описание</li>
        </ol>

        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Информация</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr href="#">
                                    <th scope="row">Имя ученика</th>
                                    <td>{{ homework.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ссылка на работу</th>
                                    <td><a href="https://coggle.it/diagram/{{ homework.link }}">Ссылка</a></td>
                                </tr>
                                <tr>
                                    <th scope="row">Оценка структурного сходства</th>
                                    <td>{{ homework.similarity_score }} %</td>
                                </tr>
                                <tr>
                                    <th scope="row">Оценка текстового содержания</th>
                                    <td>{{ homework.text_score }} %</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>

            <!-- Donut Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Метрики</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr href="#">
                                    <th scope="row">Количество вершин дерева</th>
                                    <td>{{ homework.count_nodes }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Количество веток от корневой вершины</th>
                                    <td>{{ homework.count_first_layer_branches }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Среднее количество слов на вершине</th>
                                    <td>{{ homework.average_node_text }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Максимальная высота дерева</th>
                                    <td>{{ homework.max_height }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div>
                </div>
              </div>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col">#}
{#                <div class="card shadow mb-4">#}
{#                    <div class="card-header py-3">#}
{#                        <h6 class="m-0 font-weight-bold text-primary">Анализ текстового содержания</h6>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}