{% extends "main_site/actions/homeworks/base_homework.html" %}

{% block site_title %}Список работ{% endblock %}

{% block page_title %}{{ task.title }}{% endblock %}

{% block content %}
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Список работ</li>
            </ol>
        </nav>

        <div class="list-group mb-5">
            <div class="row mb-3">
                <div class="col text-center">Имя ученика</div>
                <div class="col text-center">Оценка структурного сходства</div>
                <div class="col text-center">Оценка текстового содержания</div>
            </div>
        {% for homework in task.homework_set.all %}
             <a href="{{ homework.pk }}" class="list-group-item list-group-item-action align-items-center">
                 <div class="row">
                     <div class="col">
                         {{ homework.name }}
                     </div>
                     <div class="col text-center">
                         {% if homework.similarity_score >= 70 %}
                             <span class="badge badge-success">
                                 {{ homework.similarity_score }} %
                             </span>
                         {% endif %}
                         {% if homework.similarity_score >= 50 and homework.similarity_score < 70 %}
                             <span class="badge badge-secondary">
                                 {{ homework.similarity_score }} %
                             </span>
                         {% endif %}
                         {% if homework.similarity_score >= 25 and homework.similarity_score < 50 %}
                             <span class="badge badge-warning">
                                 {{ homework.similarity_score }} %
                             </span>
                         {% endif %}
                         {% if homework.similarity_score < 25 %}
                             <span class="badge badge-danger">
                                 {{ homework.similarity_score }} %
                             </span>
                         {% endif %}
                     </div>
                     <div class="col text-center">
                         {% if homework.text_score >= 70 %}
                             <span class="badge badge-success">
                                 {{ homework.text_score }} %
                             </span>
                         {% endif %}
                         {% if homework.text_score >= 50 and homework.text_score < 70 %}
                             <span class="badge badge-secondary">
                                 {{ homework.text_score }} %
                             </span>
                         {% endif %}
                         {% if homework.text_score >= 25 and homework.text_score < 50 %}
                             <span class="badge badge-warning">
                                 {{ homework.text_score }} %
                             </span>
                         {% endif %}
                         {% if homework.text_score < 25 %}
                             <span class="badge badge-danger">
                                 {{ homework.text_score }} %
                             </span>
                         {% endif %}
                     </div>
                 </div>
             </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}