{% extends "base.html" %}

{% block title %}Добавление работы{% endblock %}

{% block content %}
    <div class="container mt-3">
        <p class="text-center font-weight-bolder mt-4" >Добавление работы</p>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active">Список работ</li>
                <li class="breadcrumb-item active">Добавление</li>
            </ol>
        </nav>

        <form action="{% url 'homework_add_confirm' task_id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name-text">Имя:</label>
                <input name="name" type="text" class="form-control" id="name-text">
            </div>

            <div class="form-group">
                <label for="link-text">Ссылка:</label>
                <input name="link" type="text" class="form-control" id="link-text">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
        </form>
    </div>
{% endblock %}