{% extends "base.html" %}

{% block title %}Список работ{% endblock %}

{% block content %}
    <div class="container mt-3">
         <p class="text-center font-weight-bolder mt-4" >Удаление работы</p>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active">Список работ</li>
                <li class="breadcrumb-item active" aria-current="page">Удаление</li>
            </ol>
        </nav>
        <div class="list-group mb-5">
            <div class="row mb-3">
                <div class="col text-center">Имя ученика</div>
                <div class="col text-center">Структурное сходство</div>
                <div class="col text-center">Плагиат в тексте</div>
            </div>
        {% for homework in task.homework_set.all %}
             <a href="{% url 'homework_delete_page' task.pk homework.pk %}" class="list-group-item list-group-item-action align-items-center">
                 <div class="row">
                     <div class="col">
                         {{ homework.name }}
                     </div>
                     <div class="col text-center">
                         <span class="badge badge-secondary">
                             {{ homework.plagiarism }}
                         </span>
                     </div>
                     <div class="col text-center">
                         <span class="badge badge-secondary">
                             {{ homework.similarity }}
                         </span>
                     </div>
                 </div>
             </a>
        {% endfor %}
        </div>
    </div>
{% endblock %}