{% extends "base.html" %}

{% block site_title %}Работа{% endblock %}

{% block content %}
    <div class="container mt-3">
        <p class="text-center font-weight-bolder mt-4" >Описание работы</p>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Список работ</li>
            <li class="breadcrumb-item active" aria-current="page">Описание</li>
        </ol>

        <table class="table">
            <tbody>
                <tr href="#">
                    <th scope="row">Имя ученика</th>
                    <td>{{ homework.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Ссылка на работу</th>
                    <td><a href="https://coggle.it/diagram/{{ homework.link }}">Ссылка</a></td>
                </tr>
                <tr>
                    <th scope="row">Оценка структурного сходства</th>
                    <td>{{ homework.similarity }} %</td>
                </tr>
                <tr>
                    <th scope="row">Оценка сходства текстового содержания</th>
                    <td>{{ homework.plagiarism }} %</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}