{% extends 'registration/base.html' %}

{% block site_title %}Выход{% endblock %}

{% block content %}
    <div class="row justify-content-center">
     <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Вы успешно вышли из аккаунта!</h1>
                  </div>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'login' %}">Вернуться на страницу авторизации</a>
                  </div>
                </div>
          </div>
     </div>
    </div>
{% endblock %}