{% extends 'registration/base.html' %}

{% block site_title %}Изменение пароля{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-9 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-2">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Изменение пароля</h1>
            </div>
            <form class="user" method="post" action="{% url 'password_change' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" class="form-control form-control-user" name="old_password"
                       placeholder="Введите старый пароль">
                <div class="text-center text-danger small">
                    <p>{{ form.old_password.errors }}</p>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" name="new_password1"
                       placeholder="Введите новый пароль">
                <div class="text-center text-danger small">
                    <p>{{ form.new_password1.errors }}</p>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" name="new_password2"
                       placeholder="Введите новый пароль еще раз">
                <div class="text-center text-danger small">
                   <p>{{ form.new_password2.errors }}</p>
                </div>
            </div>
            <button type="submit" value="password_change" class="btn btn-user btn-primary btn-block">Сменить пароль</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}