{% extends 'registration/base.html' %}

{% block site_title %}Смена пароля{% endblock %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-9 col-md-9">
     <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Сброс пароля</h1>
                </div>

                {% if validlink %}

                <form action="" method="post" class="user">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>

                <div class="form-group">
                     <label for="id_new_password1" class="small">Новый пароль:</label>
                     <input name="new_password1" type="text" class="form-control form-control-user"
                            id="id_new_password1" placeholder="Введите новый пароль">
                    <div class="text-center text-danger small">
                        <p>{{ form.new_password1.errors }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_new_password2" class="small">Подтверждение пароля:</label>
                    <input name="new_password2" type="password" class="form-control form-control-user"
                           id="id_new_password2"  placeholder="Введите новый пароль">
                    <div class="text-center text-danger small">
                        <p>{{ form.new_password2.errors }}</p>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">Изменить пароль</button>
                </form>
                {% else %}
                <div class="text-center text-danger small">
                    <h4>Произошла ошибка</h4>
                    <p>Ссылка для смены пароля была недействительной, возможно она уже была использована.</p>
                    <p>Пожалуйста, сделайте запрос на смену пароля еще раз.</p>
                </div>
                {% endif %}
                </div>
          </div>
     </div>
    </div>
    </div>
{% endblock %}