{% extends "base.html" %}

{% block site_title %}Изменение пароля{% endblock %}

{% block content %}
    <div class="container mx-auto mt-5" style="width: 350px">
        <p class="text-center font-weight-bolder mt-4" >Изменение пароля</p>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Пароль</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Введите новый пароль" name="username">
                </div>

                <button type="submit" value="login" class="btn btn-primary btn-block">Войти</button>
                <input type="hidden" name="next" value="../../">
            </form>
        {% else %}
            <p>Вы не авторизированы!</p>
        {% endif %}
    </div>
{% endblock %}