{% extends 'registration/base_reg.html' %}

{% block site_title %}Сброс пароля{% endblock %}

{% block content %}
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Забыли пароль?</h1>
                    <p class="mb-4">
                        Введите адрес вашей электронной почты вашего профиля,
                        на нее придет ссылка для восстановления пароля.
                    </p>
                  </div>
                  <form class="user" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="email" name="email" class="form-control form-control-user"
                             aria-describedby="emailHelp" placeholder="Введите адрес электронной почты">
                      <div class="text-center text-danger small">
                        <p>{{ form.email.errors }}</p>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Отправить</button>
                    <input  type="hidden"  name="next"  value="{{ next }}">
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'registration' %}">Создать аккаунт!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'login' %}">Уже есть аккаунт? Авторизируйтесь!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}