{% extends "base.html" %}

{% block site_title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container mx-auto mt-5" style="width: 350px">
        <p class="text-center font-weight-bolder mt-4" >Сброс пароля</p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="email_text">Электронный адрес</label>
                <input name="email" type="text" class="form-control" id="email_text"  placeholder="Введите электронный адрес">
            </div>
            <button type="submit" value="login" class="btn btn-primary btn-block">Ввести</button>
        </form>
    </div>
{% endblock %}